$primary-color: #BF1D52 !important;
$primary-color-light: #DA044C !important;
$overlay-color: black;
$text-color: black;

body {	
	color: $text-color;
	height: 100%;
	margin: 0 !important;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

h2 {
	text-align: center;
}


i {
	cursor: pointer;
}

span.location-span {
	display: block;
}

ul.experience {
	h5 {
		margin-top: 1em;
		margin-bottom: .5em;
	}

	li {
		opacity: 0;
		b {
			display: block;
		}
	}
}

ul.languages {
	li {
		display: inline-block;
		margin: .5em .5em .5em 0;
	}
}

.card,
.row {
	margin: 0 !important;
}

.learn-more-btn {
	margin-top: 1em;
}

.name-card {
	padding: 1em;
}

.navbar-fixed {
	height: 0;
}

.parallax {
    z-index: 0;
}

.parallax-text-wrapper {
	background-color: $overlay-color;
	color: white;
	display: none; /* for fadeIn animation */
	height: 100% !important;
	opacity: .8;
    padding-top: 10%;
	position: absolute;
	width: 100%;
	z-index: 500;

	.parallax-text {
		display: block;
		margin-left: auto;
		margin-right: auto;
		opacity: 1;
		text-shadow: -.2em -.2em .2em $text-color;
		width: 70%;

		.btn {
			text-shadow: initial;
		}
	}
}

.subtitle {
	display: block;
}

.splash {
	background: url(../img/background-large.jpg);
	background-repeat: no-repeat !important;
	background-position: center top;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	background-repeat: no-repeat;
	color: white;
	height: 100vh;
	.splash-text {
		text-shadow: .2em .3em 1em black;
		display: none; /* for fadeIn animation */
	}
}

.state-country-font {
	background: -webkit-linear-gradient(#eee, #333);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
	font-family: geoBats;
	padding: 2em;
}

.state-country-row {
	padding-bottom: 1em;
}

@media screen and (min-width: 993px){
	nav{
		.brand-logo {
			float: left;
			position: relative !important;
		}
	}
	.state-country-font {
		font-size: 2em;
	}
}

@media screen and (max-width: 992px){
	.state-country-font {
		font-size: 2em;
	}
}

@media screen and (max-width: 720px){
	.parallax-text-wrapper {
		display: inline-block;
		z-index: 0;
	}
} 

@media screen and (max-width: 600px){
	.state-country-font {
		font-size: 1em;
	}

	.parallax-googlejump {
		padding-top: 0;
	}

	ul.experience-ul {
		li {
			opacity: 1;
		}
	}
}

@font-face {
    font-family: geoBats;
    src: url(../fonts/geobats.ttf);
}


  