body, html, .main {
	height: 100%;
}

.name {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 10em;	
  line-height: .8;
  position: relative;
  right: 20%;
  text-align: right;
  text-shadow: .07em .07em #DBE4EB;
  top: 20%;
}

.first-name {
	display: block;
}

.last-name {
	font-size: .98em;
}

.main-content {
	background: url(../img/background.jpg);
	background-position: no-repeat center center;

	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	background-repeat: no-repeat;
	height: 100vh;

}